/*
=================================== Parent Resets =================================
*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "lato" , sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    box-sizing: border-box;

}

/*
=================================== Heading Background // Landing Page =================================
*/

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        #ff2a00af,
        #ffc400af ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%)
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    animation: ease infinite 5s Spin;
}

.logo {
    height: 9rem;
    
}

.main-heading {
    color: #fff;
    text-transform: uppercase;
    left: 0;
    bottom: 0;
    margin-bottom: 8rem;
}

.main-heading-title {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation: ease 1s slideLeft;
}

.main-sub-title {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation: ease 1s slideRight;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    animation: ease 1s slideUp;
}

.btn-white {
    background: white;
    color: #777;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2); 
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 1rem rgba(0, 0, 0, .2); 
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scale(1.5);
    opacity: 0;
}

.about {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        #ff2a00af,
        #ffc400af ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 25%, 100% 0, 100% 50%, 0 75%)
}

.about-page {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-heading {
    color: white;
    font-family: lato;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    text-transform: uppercase;
    font-weight: 400;

}

/* 
================================= Keyframe Animations ================================
*/

@keyframes slideLeft {
    0% {
        transform: translateX(-20rem);
        opacity: 0;
    }
    80% {
        transform: translateX(1rem)
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(20rem);
        opacity: 0;
    }
    80% {
        transform: translateX(-1rem)
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(20rem);
        opacity: 0;
    }
    80% {
        transform: translateY(-1rem)
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes Spin {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180Deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

/* 
================================= Media Keys ================================
*/

@media only screen and (max-width: 600px) {
    html {
        font-size: 30%;
    }
}

@media only screen and (max-width: 400px) {
    body {
        padding: 0;
    }
}